-e .
aws_cdk.pipelines
aws_cdk.aws_codebuild
aws_cdk.aws_codepipeline 
aws_cdk.aws_codepipeline_actions
aws_cdk.aws_s3
aws_cdk.aws_s3_deployment
aws_cdk.aws_cloudfront
aws_cdk.aws_cloudfront_origins
aws_cdk.aws_route53
aws_cdk.aws_certificatemanager